<!DOCTYPE html>
<html>

<head>
    {{ template "header" }}
    <title>Golang Tc Topics</title>
</head>

<body>
    <div class="ui grid">
        <div class="ui raised container segment">
            <img class="ui small image" src="https://is.golangtc.com/logo/golangtc.png">
            <div class="ui celled list">
                {{range .}}
                <div class="item">
                    <img class="ui avatar image" src="{{.ImgSrc}}">
                    <div class="middle aligned content">
                        <h3>
                            <a href="https://www.golangtc.com{{.URL}}" title="{{.Title}}" target="_blank">{{.Title}}</a>
                        </h3>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
        <div class="ui raised segment">
            {{ template "menu" }}
        </div>
    </div>
</body>

</html>