<!DOCTYPE html>
<html>

<head>
    {{template "header" }}
    <title>Opensource Articles</title>
</head>

<body>
    <div class="ui grid">
        <div class="ui raised container segment">
            <h1>OpenSource</h1>
            <div class="ui celled list">
                {{range .}}
                <div class="item">
                    <div class="middle aligned content">
                        <h3>
                            <a href="https://opensource.com{{.URL}}" title="{{.Title}}" target="_blank">{{.Title}}</a>
                        </h3>
                        <div class="description">{{.Description}}</div>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
        <div class="ui raised segment">
            {{template "menu" }}
        </div>
    </div>
</body>

</html>